@media only screen and (orientation: landscape) {
  body {
    background-color: #7cff11;
  }
}

@media (height >= 680px), screen and (orientation: portrait) {
  
}

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: hsl(96, 88%, 31%)
}



